asm
expected
__pycache__
.splat/
starfox64.ld
starfox64.uncompressed.ld
starfox64.*.*.yaml
starfox64.us.modded.map
ctx.c
ctx.c.m2c
*.d
*_auto.ld
*.n64
*.z64
*.v64
*.u64
*.bin
*.otr
*.o2r
*.log
*.eeprom
assets/yaml/us/ast_test.yaml
/audio_data
src/assets/*
/build
build-new/
tools/mio0
tools/ido-recomp
debug/
.venv/
m2cfiles/
TempComp.bin.mio0
torch.hash.yml
cmake-build-*/
.idea/
.vs
build*
logs/
/mods/
starship.cfg.json
default.sav
imgui.ini
.vs
default.sav
imgui.ini
starship.cfg.json
imgui.ini
starship.cfg.json
Starship.log
*.sav
*.lib
*.pdb
dumps/
_packages/*
*.DS_Store
src/jp/
src/eu/
src/cn/

properties.h
mods*/